@tailwind base;

@tailwind components;

@tailwind utilities;

@responsive {
  .fixedlayer {
    position: fixed;
    overflow: scroll;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
}

body {
  touch-action: manipulation;
}

.btn {
  @apply px-10 py-2 bg-teal-100 font-semibold rounded text-teal-800 shadow-md cursor-pointer;
}

.btn:hover {
  @apply shadow-lg bg-teal-200;
}

.btn:focus, .btn:active {
  @apply shadow-md;
}


.anchor {
  @apply text-teal-600 cursor-pointer;
}

.anchor:hover {
  @apply text-teal-800 underline;
}


.animation-speed-200 {
  animation-duration: 200ms
}
.animation-speed-400 {
  animation-duration: 400ms
}
.animation-speed-600 {
  animation-duration: 600ms
}
.animation-speed-800 {
  animation-duration: 800ms
}
.animation-speed-1000 {
  animation-duration: 1s
}

.animation-fadein {
  animation-name: fade_in;
}

.animation-scaleup {
  animation-name: scale_up;
}

@keyframes fade_in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes scale_up {
  from { transform: scale(0.95); }
  to   { transform: scale(1); }
}








/* Breathing virus */

.breathing-virus {
  /* -webkit-animation: breathing 7s ease-out infinite normal;
  animation: breathing 7s ease-out infinite normal; */
  -webkit-font-smoothing: antialiased;
}

/* .breathing-virus:hover {
  animation: breathing 7s ease-in-out;
  -webkit-font-smoothing: antialiased;
} */
/*
.breathing-virus {
} */
/* .breathing-virus:hover {
    -webkit-transform:translateY(-2px);
    transform:translateY(-2px);
} */

@media (hover) {
  .breathing-virus:active {
    -webkit-transition: .1s ease-in-out;
    transition: all .1s ease-in-out;
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
}



@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}



/* countdown animation */

.spaceOutRight {
  -webkit-animation-name: spaceOutRight;
  animation-name: spaceOutRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;

}

.spaceOutUp {
  -webkit-animation-name: spaceOutUp;
  animation-name: spaceOutUp;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}


@-webkit-keyframes spaceOutRight {
  0% {
    opacity: 1;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform: scale(1) translate(0%, 0%);
    transform: scale(1) translate(0%, 0%); }
  100% {
    opacity: 0;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform: scale(0.2) translate(200%, 0%);
    transform: scale(0.2) translate(200%, 0%); } }

@keyframes spaceOutRight {
  0% {
    opacity: 1;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform: scale(1) translate(0%, 0%);
    transform: scale(1) translate(0%, 0%); }
  100% {
    opacity: 0;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform: scale(0.2) translate(200%, 0%);
    transform: scale(0.2) translate(200%, 0%); } }

@-webkit-keyframes spaceOutUp {
  0% {
    opacity: 1;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: scale(1) translate(0%, 0%);
    transform: scale(1) translate(0%, 0%); }
  100% {
    opacity: 0;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: scale(0.2) translate(0%, -200%);
    transform: scale(0.2) translate(0%, -200%); } }

@keyframes spaceOutUp {
  0% {
    opacity: 1;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1) translate(0%, 0%);
    transform: scale(1) translate(0%, 0%); }
  100% {
    opacity: 0;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: scale(0.2) translate(0%, -200%);
    transform: scale(0.2) translate(0%, -200%); } }
